[Desktop Entry]
Version=1.0
Type=Application
Name=code-local
Comment=
Exec=pdrun code --wait --no-sandbox
Icon=visualstudiocode
Path=
Terminal=false
StartupNotify=false
