[Desktop Entry]
Version=1.0
Type=Application
Name=code-web
Comment=
Exec=pdrun code serve-web --without-connection-token
Icon=visualstudiocode
Path=
Terminal=true
StartupNotify=false
